* {
  border: 0;
  margin: 0;

  box-sizing: border-box;
  background-color: #1c1e21;
}

.input {
  color: aliceblue;
}

.inputBox {
  display: flex;

  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.input input {
  text-align: center;
  min-height: 35px;
  font-size: 15px;
  border: 2px solid #025f39;
  color: aliceblue;
}

.input input:hover {
  border: 2px solid #08d17d;

  cursor: pointer;
}

.button button {
  min-width: 50px;
  text-align: center;
  min-height: 40px;
  font-size: 15px;
  border-radius: 6px;
  color: rgb(83, 81, 81);
  background-color: aquamarine;
}

.button button:hover {
  background-color: rgb(8, 190, 130);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.newModal {
  display: none;

  height: inherit;

  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.newModal.View {
  display: grid;

  grid-template-columns: 1fr 1fr;

  justify-content: center;
  align-items: center;
}

.input input.newViewSearch {
  display: flex;

  max-height: 30px;
  color: aliceblue;
}

.button button.newViewButton {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center;
}

p {
  padding: 10px;
  text-align: center;
  color: #070807;
  background-color: #39e29c;
  border-radius: 5px;
  height: fit-content;

  max-height: 100%;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img img {
  display: none;

  max-width: auto;
  height: auto;
}

.img img.show {
  display: flex;

  border-radius: 8px;
}

@media (max-width: 768px) {
  .newModal.View {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px;
  }
  img {
    max-width: fit-content;
    max-height: fit-content;
    width: 100%;
    height: 100%;
  }
}
